/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable custom-property-pattern */

:root {
	background-color: #242424;
	color: rgb(255 255 255 / 87%);
	color-scheme: light dark;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1.5;
	scroll-snap-type: both proximity;
	text-rendering: optimizelegibility;
	text-size-adjust: 100%;
}

:root {
  --step--2: clamp(0.6331rem, 0.7195rem + -0.1115vw, 0.6944rem);
  --step--1: clamp(0.8333rem, 0.829rem + 0.0193vw, 0.844rem);
  --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.0774rem + 0.5448vw, 1.4996rem);
  --step-2: clamp(1.44rem, 1.2113rem + 1.0164vw, 1.999rem);
  --step-3: clamp(1.728rem, 1.3448rem + 1.703vw, 2.6647rem);
  --step-4: clamp(2.0736rem, 1.4688rem + 2.688vw, 3.552rem);
  --step-5: clamp(2.4883rem, 1.5693rem + 4.0845vw, 4.7348rem);
}

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);
}

body {
	margin: 0;
}


:where(*, *::after, *::before) {
	box-sizing: border-box;
}

:where(img) {
	block-size: auto;
	max-inline-size: 100%;
	vertical-align: middle;
}

:where(p) {
	margin-block: var(--space-s);
}

:where(h1,h2,h3,h4,h5,h6) {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	line-height: 1.1;
	margin-block: var(--space-s);
}

:where(h1) {
	font-size: var(--step-5);
}

:where(h2) {
	font-size: var(--step-4);
}

:where(h3) {
	font-size: var(--step-3);
}

:where(h4) {
	font-size: var(--step-2);
}

:where(h5) {
	font-size: var(--step-1);
}

:where(h6) {
	font-size: var(--step-0);
}

.subhead {
	font-weight: 700;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #fff;
		color: #213547;
	}
}

.container {
	inline-size: 100%;

	& > * {
		margin-inline: auto;
		max-inline-size: min(840px, 100% - var(--space-l));
	}

	& > .alignwide {
		max-inline-size: 1080px;
	}
}

.swiper {
	max-inline-size: 1240px;
}

.swiper-slide[class] {
	inline-size: 475px;
	opacity: 0;
	transition-property: opacity, transform;

	& img {
		border-radius: 6px;
		grid-area: stack;
	}

	&.swiper-slide-active {
		opacity: 1;
	}

	&:has(+ .swiper-slide-prev),
	&.swiper-slide-next + .swiper-slide,
	&.swiper-slide-prev,
	&.swiper-slide-next {
		display: grid;
		grid-template-areas: "stack";
		opacity: 1;

		&::after {
			background-color: var(--color--image-overlay);
			content: "";
			display: block;
			grid-area: stack;
		}
	}

	&.swiper-slide-prev,
	&.swiper-slide-next {
		--color--image-overlay: rgba(255 255 255 / 10%);
	}

	&:has(+ .swiper-slide-prev),
	&.swiper-slide-next + .swiper-slide {
		--color--image-overlay: rgba(255 255 255 / 15%);
	}
}

