:root {
    box-sizing: border-box;

    --gray-100: hsl(204, 45%, 98%);
    --gray-200: hsl(210, 38%, 95%);
    --gray-300: hsl(214, 32%, 91%);
    --gray-400: hsl(211, 25%, 84%);
    --gray-500: hsl(214, 20%, 69%);
    --gray-600: hsl(216, 15%, 52%);
    --gray-700: hsl(218, 17%, 35%);
    --gray-800: hsl(218, 23%, 23%);
    --gray-900: hsl(220, 26%, 14%);

    --green: hsl(176, 75%, 30%);
    --green-400: hsl(176, 58%, 29%);
}

*,
::before,
::after {
    box-sizing: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    width: 1280px;
    height: 850px;
    margin: 2em auto;
    border: 1px solid var(--gray-700);
    color: var(--gray-700);
}

h1,
h2,
h3,
h4 {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
}

.inspiration {
    position: absolute;
    top: 1em;
    right: 4.3em;
    transition: all 300ms ease-in;
    font-size: .8em;
    color: var(--green-400);
}

.inspiration:hover {
    color: var(--gray-900);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    overflow: hidden;

    height: 848px;
    /* why does  850px hide the bottom border on cell one?? */
}

.cell--one {
    padding: 4em 3.5em 0 3.5em;
    grid-column: 1 / 2;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5em;



    background-color: var(--gray-100);
}

.header {
    grid-column: 1 / 2;
    z-index: 2;
}

.header h1 {
    font-weight: 300;
    color: var(--green);
    line-height: 1;
    font-size: 2.1em;
    margin-bottom: .05em;
}

.header h2 {
    font-weight: 600;
    font-size: 2em;
    line-height: 1;
    position: relative;
}

.header h2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 45%;
    bottom: -16px;
    height: 2px;
    background-color: var(--gray-600);
}

.para--wrap-one {
    font-size: .75em;
    grid-column: 1 / 2;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    z-index: 3;
}

.para--wrap-one p:first-of-type {
    margin-bottom: 1.2em;
}

.para--wrap-two {
    font-size: .75em;
    grid-column: 2 / 3;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
}

.para--wrap-two p:first-of-type {
    margin-bottom: 1.2em;
}

.why {
    grid-column: 1 / 2;
    z-index: 3;
    transform: translateY(-1em)
}

.why h4 {
    text-transform: none;
    color: var(--green);
    font-size: .9em;
    margin-bottom: .25em;
}

.why ul {
    font-size: .75em;
    list-style-position: inside;
}

.why li {
    margin-bottom: .25em;
}

.circle {
    margin-top: 1em;
    font-weight: 200;
    font-size: 2em;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}

.img-forrest {
    grid-column: 2 / 3;
    width: 250px;
    height: auto;
    transform: translateY(-1em);
}

.footer--one {
    color: #fff;
    text-transform: uppercase;
    z-index: 4;
}

.footer--one {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.footer--one h3:first-of-type {}

.footer--one p:first-of-type {
    font-size: .75em;
    letter-spacing: 1px;
}

.footer--one h3:last-of-type {
    font-size: .9em;
    margin-top: 1.1em;
}

.footer--one p:last-of-type {
    font-size: .7em;
    margin-top: .2em;
}


.footer--two {
    text-transform: uppercase;
    text-align: right;
    letter-spacing: .03em;
}

.footer--two h3:first-of-type span:first-of-type {
    display: block;
    font-weight: 300;
    line-height: 1.1;
}

.footer--two h3:first-of-type span:last-of-type {
    display: block;
    font-weight: 600;
    line-height: 1.1;
}

.footer--two p:first-of-type {
    font-weight: 300;
    font-size: 1.1em;
}

.footer--two p:last-of-type {
    font-size: .65em;
    text-transform: none;
    margin-top: .4em;
}



.triangle--gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px;
    background-color: var(--gray-300);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    z-index: 0;
}

.triangle--green {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 420px;
    height: 420px;
    background-color: var(--green);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .04) 0%, rgba(0, 0, 0, .04) 15%, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .1) 22%, rgba(0, 0, 0, .1) 30%, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, .1) 35%, transparent 39%);

    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
    z-index: 0;
}


/********** MAIN GRID - CELL 2 ******/
.cell--two {
    grid-column: 2 / 3;
    position: relative;
    overflow: hidden;
}

.header--two {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 72%;
    padding: 0 3.5em 2.7em 3.5em;
}

.header--two h1 {
    color: var(--green);
    font-weight: 300;
    line-height: 1;
}

.header--two h2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 2.2em;
    position: relative;
}

.header--two h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    background-color: var(--gray-600);
    width: 42%;
}

.header--two h3 {
    color: var(--green);
    font-size: .95em;
    margin-bottom: .3em;
}

.image--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 550px;
    background: linear-gradient(130deg, transparent 0%, transparent 50%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .2) 100%), url(https://res.cloudinary.com/jduquain/f_auto,q_auto/forrest_zwbypr.jpg) no-repeat center center/cover;
    clip-path: polygon(0% 0%, 100% 0%, 35% 92%, 0% 58%);
}

.social-bar {
    position: absolute;
    width: 110px;
    height: 420px;
    top: 14%;
    left: 6.5%;
    background-color: var(--green);
    opacity: .6;
    transform: rotate(-50deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-bar div {
    margin-top: 2em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    transform: rotate(50deg)
}

.social-bar div:first-of-type {
    margin-top: 5em;
}

.social-bar svg {
    width: 40px;
    height: 40px;
    fill: #fff;
}

.bifold {
    box-sizing: content-box;
    position: absolute;
    width: 280px;
    height: 450px;
    background-color: hsl(233, 53%, 9%);
    transform: rotate(39.3deg);
    left: 72.3%;
    top: 0;
    border-bottom: 80px solid var(--gray-300);

}

.globe {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 180px;
    height: 180px;
    transform: rotate(-40deg);
}

.globe h2 {
    position: absolute;
    text-align: right;
    text-transform: none;
    right: 10px;
    top: 33%;
}

.globe h2 span:first-of-type {
    display: block;
    color: var(--green);
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1;
}

.globe h2 span:last-of-type {
    display: block;
    color: #fff;
    font-size: .88em;
    line-height: 1;
}

.globe svg {
    fill: rgba(255, 255, 255, .2);
    opacity: .5;
}

.triangle-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 500px;
    background-image: linear-gradient(129deg, var(--green) 0%, var(--green) 65%, var(--green-400) 65%, var(--green-400) 100%);
    clip-path: polygon(100% 18%, 34% 68%, 100% 105%);
}

.triangle-corner svg {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 95px;
    right: 30px;
}